.landing{
    background-image: url('./fondo.jpg');
    background-position-y: center center;
    background-size: cover;
    height:100vh;
  }

.title{
  display: flex;
  justify-content:flex-end;
  padding-right: 20px;
  background-color: rgba(173, 171, 169, 0.075);
  color: white;
}

.botton{
  display: flex;
  align-items: center;
  justify-content:flex-end;
  padding-right: 20px;
  padding-top: 10px;
}
.bnt{
  border: 2.5px solid white;
  color: white;
  background-color: transparent;
  color: white;
  font-size: 25px;
}
.bnt:hover{
  border-color:rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  color:black;
}
